body {
  font-family: sans-serif;
}
input {
  border-radius: 40px;
  border: none;
  padding: 6px 16px;
}
button {
  border-radius: 10px;
  border: navy;
  padding: 4px 16px;
}
button:hover {
  background-color: powderblue;
  color: white;
  cursor: pointer;
}
.title {
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  color: gray;
}
.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
li {
  margin-right: 8px;
}

.incomplete_area {
  background-color: blueviolet;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 30px;
}
.complete_area {
  background-color: coral;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 30px;
}
